.banner{
  min-height: 100vh;
  background-image: url(../public/images/banner.webp);
  background-size: cover;
  background-position: center;
  padding: 0;
}
.nav-link{
  color: white !important;
  font-weight: 400;
  font-weight: 18px;
}
.navbar-brand{
  font-weight: 600;
}


@media screen and (max-width:800px) {
  .navbar{background-color: white;}
  .nav-link{color: black !important;}
  .navbar-brand{
    color: black !important;
  }
}