.banner{
  min-height: 100vh;
  background-image: url(../public/images/banner.webp);
  background-size: cover;
  background-position: center;
  padding: 0;
}
.navbar{
  background-color: rgb(16, 16, 16);
}
.nav-link{
  color: white !important;
  font-weight: 400;
  font-size: 18px !important;
}
.nav-link:hover{
  color: aquamarine !important;
}
.navbar-brand{
  font-weight: 600;
}
.social-icons{
  display: flex;
  align-items: center;
}
.social-icons > li{
  list-style: none;
  margin-right: 10px;
}

@media screen and (max-width:800px) {
}